# DB 연결 정보
DB_HOST=example.com # 여기에 디비 host 정보를 입력해야 됩니다.
DB_PORT=1234 # db 포트를 지정해주셔야 합니다
DB_SCHEMA=exmaple_schema # 데이터베이스명을 입력해주셔야 합니다.

DB_USERNAME=root
DB_PASSWORD=1234

# --- AWS S3 ---
AWS_ACCESS_KEY=insert-your-access-key
AWS_SECRET_KEY=insert-your-secret-key
AWS_S3_BUCKET=scuad-project

# --- AI Service ---
AI_SERVICE_URL=http://localhost:8000

# --- Application ---
APP_FRONTEND_URL=http://localhost:3000
